body {
  background-color: #775888;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
}
h2 {
    font-family: 'Spectral', serif;
}

.navbar-default {
    background-color: #99D871;
}

.jumbotron {
    background-color: #FFF089;
    text-align:center;
}
.jumbotron h1 {
    color: black;
}
.roboto {
    font-family: 'Roboto Condensed', sans-serif;
}
.lucky {
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
}
.luckyd {
    font-family: 'Eater', cursive;
    font-size: 36px;
}
.luckyR {
    font-family: 'Luckiest Guy', cursive;
    font-size: medium;
}